:root {
  --skyBlue: #00afef;
  --darkNavy: #002147;
  --coolWhite: #f5f5f5;
}

* {
  font-family: "Poppins";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkNavy) !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bg-coolwhite {
  background-color: var(--coolWhite) !important;
}

.color-skyblue {
  color: var(--skyBlue) !important;
}

.text-darknavy {
  color: var(--darkNavy) !important;
}

.text-coolWhite {
  color: var(--coolWhite) !important;
}

.section-gap {
  margin-bottom: 8rem;
}

/* Start of navbar style */
.bg-body-skyblue {
  background-color: var(--skyBlue);
}

/* End of navbar style */
.main-text {
  color: var(--darkNavy) !important;
}

.sub-text {
  color: var(--darkNavy) !important;
}

.sub-text > span {
  color: var(--skyBlue) !important;
  font-weight: 600;
}

.jumbotron-fullscreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jumbotron-fullscreen .container-fluid {
  padding: 0 15px;
}
/* Main section style */

nav {
  transition: all 0.3s ease-in-out !important;
}

.mobile-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.mobile-scroll-container .d-flex {
  display: flex;
  gap: 15px;
}
